{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'foods/style.css' %}" /> {% endblock %}
{% block title %}{{ block.super }} 一覧{% endblock %} {% block content %}
<div class="container">
  <ul class="collection">
    {% for food in food_list %} {% if food.is_expiration %}
    <li class="collection-item grey darken-1">{% elif food.is_dead_line %}</li>

    <li class="collection-item red lighten-3">{% else %}</li>

    <li class="collection-item">
      {% endif %}
      <p>{{ food.name }}</p>
      <p>
        賞味期限： {{ food.best_before }}<a
          href="{% url 'foods:delete' food.id %}"
          class="secondary-content"
          ><i class="material-icons">delete</i></a
        >
      </p>
    </li>
    {% endfor %}
  </ul>
  <a
    class="btn-floating btn-large waves-effect waves-light red fixed_btn"
    href="{% url 'foods:create' %}"
    ><i class="material-icons">add</i></a
  >
</div>
{% endblock %} {% block footer %} {% include 'foods/menu.html' %} {% endblock %}
{% block script %} {% endblock %}
