{% extends 'base.html' %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'foods/style.css' %}"> {% endblock %}
{% block title %}{{ block.super }} 一覧{% endblock %}
{% block content %}
<div class="container" id='app'>
  <ul class="collection" v-for='food in foods'>
    <li class="collection-item" v-bind:class="{red : food.is_dead_line, 'lighten-3' : food.is_dead_line}">
        <p>[[ food.name ]]</p>
        <p>賞味期限： [[ food.best_before ]]<a href="!#" class="secondary-content"><i class="material-icons">delete</i></a></p>
      </li>
  </ul>
  <a class="btn-floating btn-large waves-effect waves-light red fixed_btn" href="{% url 'foods:create' %}"><i class="material-icons">add</i></a>
</div>
{% endblock %}

{% block footer %}
 {% include 'foods/menu.html' %}
{% endblock %}

{% block script %}
  <script>
    var vm = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        foods: []
      },
      mounted: function() {
        this.fetchFoodList();
      },
      methods: {
        fetchFoodList() {
          fetch(`{% url 'api:foods' %}`, {
            method: 'GET',
            credentials: 'same-origin'
          })
          .then((response) => {
            return response.json();
          })
          .then((json) => {
            this.foods = json;
          })
        }
      }
    })
  </script>
{% endblock %}
