{% extends 'base.html' %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'foods/style.css' %}"> {% endblock %}
{% block title %}{{ block.super }} 一覧{% endblock %}
{% block content %}
<div class="container">
  <ul class="collection">
    {% for food in food_list %}
      {% if food.is_dead_line %}
        <li class="collection-item red lighten-3">
      {% else %}
        <li class="collection-item">
      {% endif %}
       <p>{{ food.name }} </p>
       <p>賞味期限： {{ food.best_before }}<a href="{% url 'foods:delete' food.id %}" class="secondary-content"><i class="material-icons">delete</i></a></p>
      </li>
    {% endfor %}
  </ul>
  <!-- <a class="btn-floating btn-large waves-effect waves-light red fixed_btn" href="{% url 'foods:create' %}"><i class="material-icons">add</i></a> -->
</div>
{% endblock %}

{% block footer %}
  <div class="menu">
    <ul>
      <li><a class="" href="{% url 'foods:create' %}"><i class="material-icons">add</i></a></li>
      <li><a class="" href="#"><i class="material-icons">home</i></a></li>
      <li><a class="" href="#"><i class="material-icons">delete</i></a></li>
    </ul>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
