a.fixed_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

div.menu {
  position: sticky;
  bottom: 0;
  margin-top: auto;
}

div.menu ul {
  display: flex;
}

div.menu li {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  padding: 10px 5px;
  background-color: #64b5f6;
}

div.menu li a {
  color: white;
}
